table{
    margin: auto;
    border: solid;
    width: 30%;
    background-color: black;
}

th,td{
    text-align: center;
    font-size: xx-large;
    margin: auto;
    border: solid;
    background-color: palegreen;
}
